---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Espresso Vibes" description="Espresso Vibes">
  <main>
    <section class="bg-white">
      <div class="site-container">
        <h1 class="text-4xl text-center pt-16">Espresso Vibes</h1>
      </div>
    </section>
  </main>
</Layout>
