---
import Layout from "../layouts/BaseLayout.astro";
import MenuComponent from "../components/Menu.astro";
---

<Layout title="Our Menu" description="True Believers Coffee Menu">
  <main class="siteContainer">
    <section>
      <MenuComponent />
    </section>
  </main>
</Layout>
